<h1 id="OrderHead">보낸 메일함</h1>

<div id="show">
  <table>
    <tr>
      <th>이름 </th>
      <th>내용 </th>
    </tr>
  
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.name %></td>
        <td><%= article.content %></td>
        <td><%= " " %><%= link_to '자세히보기', article_path(article) %></td>
      </tr>
    <% end %>
  </table>
  <br/>
    <%= link_to '메일쓰기', new_article_path %>
</div>

