<h1>메일쓰기</h1>

 <%= form_for :article, url: '/articles/' do |f| %>

  <p>
    <%= f.label :name, '이름' %><br> 
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :content, '내용' %><br>
    <%= f.text_field :content %>
  </p>

  <p>
    <%= f.submit '제출'%>
  </p>
<% end %>